[submodule "MawarEngine/vendor/spdlog"]
	path = MawarEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MawarEngine/vendor/GLFW"]
	path = MawarEngine/vendor/GLFW
	url = https://github.com/rogueanx9/glfw.git
[submodule "MawarEngine/vendor/imgui"]
	path = MawarEngine/vendor/imgui
	url = https://github.com/rogueanx9/imgui.git
