[submodule "MawarEngine/vendor/spdlog"]
	path = MawarEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MawarEngine/vendor/GLFW"]
	path = MawarEngine/vendor/GLFW
	url = https://github.com/rogueanx9/glfw.git
